{
    "arrowParens": "always",
    "semi": false,
    "bracketSameLine": false,
    "bracketSpacing": true,
    "endOfLine": "auto",
    "jsxSingleQuote": false,
    "printWidth": 120,
    "singleQuote": false,
    "tabWidth": 4
}
