@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer base {
    :root {
        --primary: hsl(222, 55%, 12%);
        --secondary: hsl(195, 100%, 50%);
        --primary-light: hsl(226, 78%, 42%);
        --primary-dark: hsl(198, 88%, 47%);
        --foreground: hsl(0, 0%, 14%);
        --muted: hsl(0, 1%, 72%);
        --background: hsl(0, 0%, 100%);
        --background-light: hsl(210, 20%, 98%);
        --placeholder: hsl(0, 2%, 61%);
        --gray: hsl(220, 9%, 50%);
    }
}

@font-face {
    font-family: InterLight;
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/Inter-Light.ttf");
}

@font-face {
    font-family: InterRegular;
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: InterMedium;
    font-style: normal;
    font-weight: 500;
    src: url("../assets/fonts/Inter-Medium.ttf");
}

@font-face {
    font-family: InterSemiBold;
    font-style: normal;
    font-weight: 600;
    src: url("../assets/fonts/Inter-SemiBold.ttf");
}

@font-face {
    font-family: InterBold;
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/Inter-Bold.ttf");
}

@font-face {
    font-family: InterBlack;
    font-style: normal;
    font-weight: 800;
    src: url("../assets/fonts/Inter-Black.ttf");
}
